ELASTICSEARCH_NODE=192.168.1.163
ELASTICSEARCH_SCHEME=https
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_API_KEY=QzVaNXlZd0JXNU52NFFqak9TVG06aWJXSTdTOUtTSDJFa25EdW51aUM5QQ==

# Certificate can be provided either as a base64 string or as a file
# If both are provided, the environment variable takes precedence
ES_CERTIFICATE=base64_encoded_certificate_string